



:root {
    --accent-color:#FA4A0C ;
    --text-color: #252B42;
    --main-color: #FFFFFF;
    --text-second-color: #737373;
    --hero-text-color: #F6F6F6;
    --copyrite-color: #5C5C5C;
}

:root {
    --font-main: 'Montserrat', sans-serif;
    --font-second: 'Poppins', sans-serif;
    --font-third: 'Roboto', sans-serif;
} 

body {
font-family: var(--font-main);
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing:0.2px;
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
 padding-top: 50px;
 padding-bottom: 41px;
}

.hero {
    padding-top: 80px;
    padding-bottom: 162px;
}

.app {
    padding-bottom: 43px;
}

.order {
    padding-top: 131px;
    padding-bottom: 130px;
}